<link rel="stylesheet" href="/assets/css/purchase.css">
<link rel="stylesheet" href="/assets/css/cart.css">
<div class="about-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>My Purchase</h1>
                </div>
            </div>

            <div>
                <div class="card card-timeline px-2 border-none">
                    <ul class="bs4-order-tracking">
                        <li id="status-item" class="" value="ordered">
                            <div><i class="fas fa-user"></i></div>
                            <a href="/my-purchase/ordered" class="btn btn-outline-danger mt-2">Ordered</a>
                        </li>
                        <li id="status-item" class="" value="transit">
                            <div><i class="fas fa-bread-slice"></i></div>
                            <a href="/my-purchase/transit" class="btn btn-outline-danger mt-2">Transit</a>
                        </li>
                        <li id="status-item" class="" value="delivery">
                            <div><i class="fas fa-truck"></i></div>
                            <a href="/my-purchase/delivery" class="btn btn-outline-danger mt-2">Delivery</a>
                        </li>
                        <li id="status-item" class="" value="completed">
                            <div><i class="fas fa-birthday-cake"></i></div>
                            <a href="/my-purchase/completed" class="btn btn-outline-danger mt-2">Completed</a>
                        </li>
                    </ul>
                </div>

                <div>
                    {{#each carts}}
                        <div class="bodyC">
                            <div class="CartContainer">
                                {{#each this.products}}
                                    <div class="Cart-Items" id="{{this._id}}">
                                        <div class="image-box">
                                            <img src="{{this.image}}" style="height:120px" />
                                        </div>
                                        <div class="about">
                                            <h1 class="title" style="font-size: 18px;">{{this.name}}</h1>
                                            <h3 class="price">{{numberWithCommas this.price}} VND</h3>
                                        </div>
                                        <div class="counter">
                                            <label class="count" style="border: none; font-size: 18px;">
                                                x{{this.quantity}}
                                            </label>
                                        </div>
                                        <div class="prices">
                                            <div id="totalPrice{{this._id}}" class="amount" style="font-size: 18px;">
                                                {{numberWithCommas this.totalPrice}} VND
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                                <hr>
                                <div class="checkout">
                                    <div class="total">
                                        <div>
                                            <div class="Subtotal" style="font-size: 20px;">Order total</div>
                                        </div>
                                        <div id="orderTotal" class="total-amount" style="font-size: 20px;">
                                            {{numberWithCommas this.totalOrder}} VNĐ
                                        </div>
                                    </div>
                                    <button id="cancel-btn" class="buttonCheckout cancel"
                                            onclick='cancel("{{this._id}}")'>Cancel Order</button>
                                </div>
                            </div>
                        </div>
                    {{/each}}

                    {{#if isEmpty}}
                    <div class="no-order">
                        <h3> --- No orders yet --- </h3>
                    </div>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let statusItem = document.querySelectorAll('#status-item');

    for(let i = 0; i<statusItem.length; i++){
        if(location.href.includes(statusItem[i].getAttribute('value'))){
            statusItem[i].className += "active";
        } else{
            statusItem[i].className += "";
        }
    }

    const cancel = (id) => {
        window.location.href = `/my-purchase/cancel/${id}`;
    }

    if(!window.location.href.includes('ordered')){
        document.getElementById('cancel-btn').remove();
    }
</script>

<script src="/vendor/jquery/jquery.min.js"></script>




