<link rel="stylesheet" href="/assets/css/flex-slider.css">
<link rel="stylesheet" href="/assets/css/owl.css">
<link rel="stylesheet" href="/assets/css/comment.css">
<!-- Page Content -->
<!-- Single Starts Here -->
<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Single Product</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-slider">

                    <div id="slider" class="flexslider">
                        <ul class="slides">
                            {{#each product.image}}
                                <li>
                                    <img src="{{this}}" alt="Item {{sum @index 1}}">
                                </li>
                            {{/each}}
                            <!-- items mirrored twice, total of 12 -->
                        </ul>
                    </div>
                    <div id="carousel" class="flexslider">
                        <ul class="slides">
                            {{#each product.image}}
                                <li>
                                    <img src="{{this}}" alt="Item {{sum @index 1}}">
                                </li>
                            {{/each}}
                            <!-- items mirrored twice, total of 12 -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div id="productId" style="display: none;">{{product._id}}</div>
                    <h3>{{product.name}}</h3>
                    <h2>{{numberWithCommas product.price}}</h2>
                    <p>{{product.description}} </p>
                    <span>{{product.stock}} left on stock</span>
                    <form action="" method="get">
                        <label for="quantity">Quantity:</label>
                        <input name="quantity" type="quantity" class="quantity-text" id="quantity"
                               onfocus="if(this.value == '1') { this.value = ''; }"
                               onBlur="if(this.value == '') { this.value = '1';}"
                               value="1">

                        {{#if product.stock }}
                            <button class="button btn btn-outline-success" id="addToCart">Add to Cart
                            </button>
                        {{else}}
                            <button class="button btn btn-outline-success" id="addToCart" disabled>Add to Cart
                            </button>
                        {{/if}}

                    </form>
                    <div class="down-content">
                        <div class="categories">
                            <h6>Category: <span><a href="#">{{product.type}}</a>,<a href="#">{{product.name}}</a></span></h6>
                        </div>
                        <div class="share">
                            <h6>Share: <span><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Comments --}}
        <div>
            <div class="section-heading">
                <div class="line-dec"></div>
                <h1>Comments</h1>
            </div>
            <div>
                <ul class="d-flex flex-column">
                    <li id="comment-list" style="list-style: none;"><p class="d-none">Nothing here!</p></li>

                    {{#each comment}}                    
                    <li id="comment-list">
                        <div class="card p-3 mt-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="user d-flex flex-row align-items-center"> 
                                    <img src="/assets/images/placeholder.png" width="30" class="user-img rounded-circle mr-2"> 
                                    <span>
                                        <small class="font-weight-bold text-primary font-med">{{this.username}}: </small> 
                                        <small class="font-weight-bold font-med">{{this.content}} </small>
                                    </span> </div> 
                                    <small>{{this.createdAt}}</small>
                            </div>
                            <div class="action d-flex justify-content-between mt-2 align-items-center">
                                <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                                <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
                            </div>
                        </div>

                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        {{!-- phân trang comment --}}
        <div class="navigation mt-3">
            <input type="hidden" id="totalPage" value="{{totalPage}}">
            <ul class="pagination justify-content-center" id="haveComment">
                <li class="page-item">
                    <a class="page-link paginationStyle">First</a>
                </li>

                {{#for 1 totalPage 1}}
                    <li class="page-item">
                        <a id="page-item" class="page-link paginationStyle">{{this}}</a>
                    </li>
                {{/for}}

                <li class="page-item">
                    <a class="page-link paginationStyle">Last</a>
                </li>
            </ul>
        </div>

        {{!-- comment --}}
        <div>
            <div class="section-heading">
                <div class="line-dec"></div>
                <h1>Place your comment</h1>
            </div>
            <form class="form-group" method="post" action="" id="comment-form">       <!---/detail-product/{{product.slug}}/comment -->
                <input type="hidden" name="productComemtId" id="productComemtId" value="{{product.slug}}">
                
                {{#unless user}}
                    <input id="comment-username" class="form-control p-2 mb-1" type="text" name="userC" id="userC" placeholder="What's your name?" required>
                {{else}}
                    <input type="hidden" id="comment-username" name="userC" id="userC" value="{{user.username}}" required>
                    <input type="hidden" id="comment-login" value="1" required>
                {{/unless}}

                <input id="comment-content" class="form-control p-2" type="text" name="contentC" id="contentC" placeholder="Place your comment here!" required>
                <input class="btn btn-info mt-2 p-2" id="comment-submit-btn" style="float: right;" type="submit" value="Comment">
            </form>
        </div>
    </div>
</div>
<!-- Single Page Ends Here -->


<!-- Similar Starts Here -->
<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>You May Also Like</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="owl-carousel owl-theme">
                        {{#each products2}}
                            <a href="/detail-product/{{this.slug}}">
                                <div class="featured-item">
                                    <img src="{{getValue this.image 0}}" alt="Item 1">
                                    <h4>{{this.name}}</h4>
                                    <h6>{{numberWithCommas this.price}}</h6>
                                </div>
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Similar Ends Here -->

<script id="comment-template" type="text/x-handlebars">
    <li>
        <div class="card p-3 mt-2">
            <div class="d-flex justify-content-between align-items-center">
                <div class="user d-flex flex-row align-items-center"> 
                    <img src="/assets/images/placeholder.png" width="30" class="user-img rounded-circle mr-2"> 
                    <span>
                        <small class="font-weight-bold text-primary font-med">\{{this.username}}: </small> 
                        <small class="font-weight-bold font-med">\{{this.content}} </small>
                    </span> </div> 
                    <small>\{{this.createdAt}}</small>
            </div>
            <div class="action d-flex justify-content-between mt-2 align-items-center">
                <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
            </div>
        </div>
    </li>   
</script>

{{!-- AJAX --}}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('#addToCart').on('click', function (event, value) {
            event.preventDefault();
            const quantity = document.getElementById("quantity").value;
            $.get(`/cart/add/{{product._id}}?quantity=${quantity}`, function(data){
                document.getElementById('cartQuantity').innerHTML = data.cart.length;
            });
        });

        //detail product comment
        $('#comment-submit-btn').on('click', function (event) {
            event.preventDefault();

            if ($('#comment-content').val().length > 0 && $('#comment-username').val().length > 0) {
                $.post(`/api/product/${$('#productComemtId').val()}/comment`, {
                    username: $('#comment-username').val(),
                    content: $('#comment-content').val(),

                }, function (data) {
                    const commentTemplate = Handlebars.compile(
                            document.getElementById("comment-template").innerHTML);
                    const commentHTML = commentTemplate(data);

                    $('#comment-list').prepend(commentHTML);
                    $('#comment-content').val("");

                    if ($('#comment-login').val() != 1) {
                        $('#comment-username').val("");
                    }
                }).fail(function (data) {
                    if (data.status === 401) {
                        window.location.href = `/auth/login?redirect=detail-product/${$('#productComemtId').val()}`;
                    }
                })
            } else {
                alert('Comment is empty!')

            }
        });


        //phân trang comment

        let pageItem = document.querySelectorAll('#page-item');
        let flag = 0;
        let curr = 1;
        let totalPage = $('#totalPage').val();

        if (totalPage !== "0") {
            for (let i = 0; i < pageItem.length; i++) {
                let searchParams = new URLSearchParams(window.location.search);

                if (!searchParams.has('page')) {
                    if (!searchParams.has('name')) {
                        pageItem[i].href = location.href + '?page=' + (i + 1);
                    } else {
                        pageItem[i].href = location.href + '&page=' + (i + 1);
                    }
                } else {
                    const result = location.href.toString().replace(/page=[0-9]/, 'page=' + (i + 1))
                    pageItem[i].href = result;
                }

                if (pageItem[i].href === location.href) {
                    pageItem[i].className += " activeCurrent";
                    flag = 1;
                }
            }

            if (flag === 0) {
                pageItem[0].className += " activeCurrent";
            }
        } else {
            $('#haveComment').css('display', 'none')
        }
    })
</script>

<script src="/vendor/jquery/jquery.min.js"></script>
