<link rel="stylesheet" href="/assets/css/flex-slider.css">
<link rel="stylesheet" href="/assets/css/owl.css">
<link rel="stylesheet" href="/assets/css/comment.css">
<script src="/vendor/jquery/jquery.min.js"></script>
<!-- Page Content -->
<!-- Single Starts Here -->
<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Single Product</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-slider">

                    <div id="slider" class="flexslider">
                        <ul class="slides">
                            {{#each product.image}}
                                <li>
                                    <img src="{{this}}" alt="Item {{sum @index 1}}">
                                </li>
                            {{/each}}
                            <!-- items mirrored twice, total of 12 -->
                        </ul>
                    </div>
                    <div id="carousel" class="flexslider">
                        <ul class="slides">
                            {{#each product.image}}
                                <li>
                                    <img src="{{this}}" alt="Item {{sum @index 1}}">
                                </li>
                            {{/each}}
                            <!-- items mirrored twice, total of 12 -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div id="productId" style="display: none;">{{product._id}}</div>
                    <h4>{{product.name}}</h4>
                    <h6>{{product.price}}</h6>
                    <p>{{product.description}} </p>
                    <span>{{product.stock}} left on stock</span>
                    <form action="" method="get">
                        <label for="quantity">Quantity:</label>
                        <input name="quantity" type="quantity" class="quantity-text" id="quantity"
                               onfocus="if(this.value == '1') { this.value = ''; }"
                               onBlur="if(this.value == '') { this.value = '1';}"
                               value="1">
                        <input type="submit" class="button"id='addToCart' value="Order Now!">
                    </form>
                    <div class="down-content">
                        <div class="categories">
                            <h6>Category: <span><a href="#">{{product.type}}</a>,<a href="#">{{product.name}}</a></span></h6>
                        </div>
                        <div class="share">
                            <h6>Share: <span><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Comments --}}
        <div>
            <div class="section-heading">
                <div class="line-dec"></div>
                <h1>Comments</h1>
            </div>
            <div>
                <ul class="d-flex flex-column">
                    <li id="comment-list"><p class="d-none">Nothing here!</p></li>

                    {{#each comment}}                    
                    <li id="comment-list">
                        <div class="card p-3 mt-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="user d-flex flex-row align-items-center"> 
                                    <img src="/assets/images/placeholder.png" width="30" class="user-img rounded-circle mr-2"> 
                                    <span>
                                        <small class="font-weight-bold text-primary font-med">{{this.email}}: </small> 
                                        <small class="font-weight-bold font-med">{{this.content}} </small>
                                    </span> </div> 
                                    <small>{{this.createdAt}}</small>
                            </div>
                            <div class="action d-flex justify-content-between mt-2 align-items-center">
                                <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                                <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
                            </div>
                        </div>

                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div>
            <div class="section-heading">
                <div class="line-dec"></div>
                <h1>Place your comment</h1>
            </div>
            <form class="form-group" method="post" action="" id="comment-form">       <!---/detail-product/{{product.slug}}/comment -->
                <input type="hidden" name="productComemtId" id="productComemtId" value="{{product.slug}}">
                <input id="comment-content" class="form-control p-2" type="text" name="contentC" id="contentC" placeholder="Place your comment here!" required>
                <input class="btn mt-2 p-2" id="comment-submit-btn" style="float: right;" type="submit" value="Comment">
            </form>
        </div>
    </div>
</div>
<!-- Single Page Ends Here -->


<!-- Similar Starts Here -->
<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>You May Also Like</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="owl-carousel owl-theme">
                        {{#each products2}}
                            <a href="/detail-product/{{this.slug}}">
                                <div class="featured-item">
                                    <img src="{{getValue this.image 0}}" alt="Item 1">
                                    <h4>{{this.name}}</h4>
                                    <h6>{{this.price}}</h6>
                                </div>
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Similar Ends Here -->

<script id="comment-template" type="text/x-handlebars">
    <li>
        {{!-- <div class="comment-conent">
            <p>\{{content}}</p>
        </div>
        <div class="comment-info">
            <p>\{{email}}</p>
            <p>\{{createdAt}}</p>
        </div> --}}
     
        <div class="card p-3 mt-2">
            <div class="d-flex justify-content-between align-items-center">
                <div class="user d-flex flex-row align-items-center"> 
                    <img src="/assets/images/placeholder.png" width="30" class="user-img rounded-circle mr-2"> 
                    <span>
                        <small class="font-weight-bold text-primary font-med">\{{this.email}}</small> 
                        <small class="font-weight-bold font-med">\{{this.content}} </small>
                    </span> </div> 
                    <small>\{{this.createdAt}}</small>
            </div>
            <div class="action d-flex justify-content-between mt-2 align-items-center">
                <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
            </div>
        </div>
    </li>   
</script>

<script type="text/javascript">
    document.getElementById('addToCart').addEventListener('click',(event)=>{
        event.preventDefault();
       
        let quantity = document.getElementById('quantity').value;
        let productId = document.getElementById('productId').innerHTML;
        console.log(quantity);
        console.log(productId);
        $.post('/api/cart/add',{
            productId:productId,
            quantity:quantity
        },(data)=>{
            console.log(data);
            if(data.success){
               
                alert(data.message);
            }
        }).fail((err)=>{
            alert(data.message);
            window.location.href = '/auth/login';
        });
    })


    //detail product comment
    $('#comment-submit-btn').on('click', function (event){
        event.preventDefault();
        $.post(`/api/product/${$('#productComemtId').val()}/comment`, {
            content: $('#comment-content').val(),

        }, function (data){
            const commentTemplate = Handlebars.compile(
                document.getElementById("comment-template").innerHTML);
                const commentHTML = commentTemplate(data);

                $('#comment-list').prepend(commentHTML);
                $('#comment-content').val(" ");
        }).fail(function(data){
            if(data.status === 401){
                window.location.href = `/auth/login?redirect=detail-product/${$('#productComemtId').val()}`;
            }
        })
    })

</script>

