<!-- Page Content -->
<!-- Items Starts Here -->
<div class="featured-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Featured Items</h1>
                </div>
            </div>
            <div class="col-md-6 con-sm-12">
                <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Bạn tìm gì..." aria-label="Search"
                aria-describedby="search-addon" id="input-search-field" />
                <button type="button" class="btn btn-outline-primary" onclick="handleSearch()">search</button>
            </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col"></div>
            <div class='col'></div>
            <div class="sort col">
                <button type="button" class="sort-btn btn btn-outline-primary" onClick="highestPrice()">Giá cao nhất</button>
                <button type="button" class="sort-btn btn btn-outline-primary" onclick="lowestPrice()">Giá thấp nhất</button>



            </div>
        </div>
    </div>
</div>

<div class="featured container no-gutter">

    <div class="row">

        {{#each products}}
        <div class="new col-md-4">
            <a href="/detail-product/{{this.slug}}">
                <div class="featured-item">
                    <img src="{{getValue this.image 0}}" alt="Item {{sum @index 1}}">
                    <h4>{{this.name}}</h4>
                    <h6>{{numberWithCommas this.price}}</h6>
                </div>
            </a>
        </div>
        {{/each}}

    </div>
</div>

<div class="navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link paginationStyle">First</a>
        </li>

        {{#for 1 totalPage 1}}
            <li class="page-item">
                <a id="page-item"
                   class="page-link paginationStyle"
                >{{this}}
                </a>
            </li>
        {{/for}}

        <li class="page-item">
            <a class="page-link paginationStyle">Last</a>
        </li>
    </ul>
</div>

<script type="text/javascript">
    let pageItem = document.querySelectorAll('#page-item');
    let flag = 0;
    let curr = 1;

    for(let i = 0; i<pageItem.length; i++){
        let searchParams = new URLSearchParams(window.location.search);

        if(!searchParams.has('page')){
            if(!searchParams.has('name')){
                pageItem[i].href = location.href + '?page=' + (i + 1);
            } else {
                pageItem[i].href = location.href + '&page=' + (i + 1);
            }
        }else{
            const result = location.href.toString().replace(/page=[0-9]/, 'page='+ (i+1))
            pageItem[i].href = result;
        }

        if(pageItem[i].href === location.href){
            pageItem[i].className += " activeCurrent";
            flag = 1;
        }
    }

    if(flag === 0){
        pageItem[0].className += " activeCurrent";
    }
</script>
<script type="text/javascript">
    const handleSearch=()=>{
        let search=document.getElementById('input-search-field').value;
        if(search.length > 0){
            window.location.href = '/products/search?name=' + search;
        }
    }
    const highestPrice=()=>{
        const params= new URLSearchParams(window.location.search);
        if(params.has('name')){
            window.location.href = '/products/search?name=' + params.get('name') + '&page=1&sort=price&order=des';
        }else{
        window.location.href = '/products/search?name=' + '&sort=price&order=des';}
    }
    const lowestPrice=()=>{
        const params= new URLSearchParams(window.location.search);
        if(params.has('name')){
            window.location.href = '/products/search?name=' + params.get('name') + '&page=1&sort=price&order=asc';
        }else{
        window.location.href = '/products/search?name=' + '&sort=price&order=asc';}
    }
</script>
<!-- Featred Page Ends Here -->