<!-- Page Content -->
<!-- Items Starts Here -->
<div class="featured-page">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Featured Items</h1>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div id="filters" class="button-group">
                    <a href="/products/query?index=0&type=iphone" class="btn btn-outline-primary">iPhone</a>
                    <a href="/products/query?index=0&type=ipad" class="btn btn-outline-primary">iPad</a>
                    <a href="/products/query?index=0&type=macbook" class="btn btn-outline-primary">Macbook</a>
                    <a href="/products/query?index=0&type=watch" class="btn btn-outline-primary">Apple Watch</a>
                
                </div>
            </div>
        </div>
    </div>
</div>

<div class="featured container no-gutter">

    <div class="row posts">

        {{#each products}}
        <div class="item new col-md-4">
            <a href="/detail-product/{{this.slug}}">
                <div class="featured-item">
                    <img src="{{getValue this.image 0}}" alt="Item {{sum @index 1}}">
                    <h4>{{this.name}}</h4>
                    <h6>{{this.price}}</h6>
                </div>
            </a>
        </div>
        {{/each}}

    </div>
</div>

<div class="page-navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                   {{#for 0 query.page 1}}
                      <li><a href="/products/query?index={{this}}&type={{query.type}}">{{sum this 1}}</a></li>
                     {{/for}} 
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Featred Page Ends Here -->