<style>
    h5{
        margin-right: 4px;
        min-width: 140px;
    }
</style>
<div class="container d-flex flex-wrap p-4 justify-content-center align-items-center m-auto" style="margin-bottom: 80px !important;">
    <div class="col-md-12">
        <div class="section-heading">
            <div class="line-dec"></div>
            <h1>Your Profile</h1>
        </div>
    </div>
    <div class="img-thumbnail rounded m-4"
         style="width: 250px; height: 250px">
        {{#if user.avatar}} <img src="{{user.avatar}}" width="100%" height="100%" alt="avatar">
        {{else}} <img src="/assets/images/placeholder.png" width="100%" height="100%" alt="avatar">
        {{/if}}

    </div>
    <div class="d-flex flex-column m-4 justify-content-around" style="min-height: 250px">
        <div class="d-flex align-items-baseline">
            <h5>Name: </h5>
                {{#if user.username}} {{user.username}}
                {{else}} No information
                {{/if}}

        </div>
        <div class="d-flex align-items-baseline">
            <h5>Day of birth: </h5>
                {{#if user.birthday}} {{user.birthday}}
                {{else}} No information
                {{/if}}

        </div>
        <div class="d-flex align-items-baseline">
            <h5>Address: </h5>
                {{#if user.address}} {{user.address}}
                {{else}} No information
                {{/if}}

        </div>
        <div class="d-flex align-items-baseline">
            <h5>Email: </h5>
                {{#if user.email}} {{user.email}}
                {{else}} No information
                {{/if}}

        </div>
        <div class="d-flex align-items-baseline">
            <h5>Phone number: </h5>
                {{#if user.phone}} {{user.phone}}
                {{else}} No information
                {{/if}}

        </div>
    </div>
</div>