<link rel="stylesheet" href="/assets/css/cart.css">
<div class="about-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Shopping cart</h1>
                </div>
            </div>

            <div class="bodyC">
                <div class="CartContainer">
                    {{#each cart}}
                        <div class="Cart-Items" id="{{this._id}}">
                            <div class="image-box">
                                <img src="{{this.image}}" style="height:120px" />
                            </div>
                            <div class="about">
                                <h1 class="title">{{this.name}}</h1>
                                <h3 class="price">{{numberWithCommas this.price}} VND</h3>
                            </div>
                            <div class="counter">
                                <button class="btnQuantity" onclick='sub("{{this._id}}")'><i class="fa fa-minus" aria-hidden="true"></i></button>
                                <input class="count" id="input-quantity-{{this._id}}"
                                       value="{{this.quantity}}" min="1"
                                       onchange='updateQuantity(this.value,"{{this._id}}")'/>
                                <button class="btnQuantity" onclick='add("{{this._id}}")'><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                            <div class="prices">
                                <div id="totalPrice{{this._id}}" class="amount">
                                    {{numberWithCommas this.totalPrice}} VND
                                </div>
                                <div class="remove" onclick='remove("{{this._id}}")'><u>Remove</u></div>
                            </div>
                        </div>
                    {{/each}}
                    <hr>
                    <div class="checkout">
                        <div class="total">
                            <div>
                                <div class="Subtotal">Order total</div>
                                <div class="items" id="cartItems">{{cart.length}} items</div>
                            </div>
                            <div id="orderTotal" class="total-amount">
                                {{#if totalOrderPrice}}{{numberWithCommas totalOrderPrice}}{{else}}0{{/if}} VNĐ
                            </div>
                        </div>

                        {{#if cart}}
                            <button id="checkout-btn" class="buttonCheckout">Checkout</button>
                        {{/if}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    const updateQuantity = (value, id) => {
        $.get(`/cart/update/${id}?action=quantity&quantity=${value}`,{},(data) => {
            document.getElementById('orderTotal').innerHTML = `${numberWithCommas(data.totalOrderPrice)} VND`;
            for(let i=0; i<data.cart.length; i++) {
                if(data.cart[i]._id === id){
                    document.getElementById(`totalPrice${id}`).innerHTML = `${numberWithCommas(data.cart[i].totalPrice)} VND`;
                }
            }
        })
    }

    const add = (id) => {
        document.getElementById(`input-quantity-${id}`).value++;
        document.getElementById(`input-quantity-${id}`).dispatchEvent(new Event('change'))
    }

    const sub = (id) => {
        let quantity = document.getElementById(`input-quantity-${id}`).value;
        if(quantity > 1){
            document.getElementById(`input-quantity-${id}`).value--;
        }
        document.getElementById(`input-quantity-${id}`).dispatchEvent(new Event('change'))
    }
   
    const remove = (id) => {
        document.getElementById(`${id}`).remove();
        $.get(`/cart/update/${id}?action=remove`,{},(data)=>{
            document.getElementById('orderTotal').innerHTML = `${numberWithCommas(data.totalOrderPrice)} VND`;
            document.getElementById('cartQuantity').innerHTML = data.cart.length;
            document.getElementById('cartItems').innerHTML = `${data.cart.length} items`;

            if(data.cart.length === 0){
                document.getElementById('checkout-btn').remove();
            }
        })
    }

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    }

</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('#checkout-btn').on('click', function (event) {
            window.location.href = "/cart/checkout";
        })


    })
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>