<div class="about-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Profile</h1>
                </div>
            </div>
            <div class="container justify-content-center align-items-center m-auto" style="margin-bottom: 80px !important;">


                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-12">
                        <div class="white-box">
                            <div class="user-bg">
                                <img src="" alt="Img here"/>
                                <h5>AVATAR HERE</h5>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal form-material" method="post" action="/user-profile/{{profile._id}}">

                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Username</label>
                                        <div class="col-md-12 border-bottom p-0" style="font-size: 20px">
                                            {{profile.username}}
                                        </div>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Password</label>
                                        <div class="col-md-12 border-bottom p-0" style="font-size: 20px">
                                            <span>**********************</span>
                                            <a class="btn btn-warning mb-3 ml-4" href="/user-profile/change-password">Change password</a>
                                        </div>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Name</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" name="name" value="{{profile.name}}" style="font-size: 20px"
                                                   class="form-control p-0 border-0" > </div>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label for="example-email" class="col-md-12 p-0">Email</label>
                                        <div class="col-md-12 border-bottom p-0" style="font-size: 20px" style="font-size: 20px">
                                            {{profile.email}}
                                        </div>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Phone No</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" name="phone" value="{{profile.phone}}" style="font-size: 20px"
                                                   class="form-control p-0 border-0">
                                        </div>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Address</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" name="address" value="{{profile.address}}"
                                                   class="form-control p-0 border-0" style="font-size: 20px">
                                        </div>
                                    </div>

                                    <div class="mb-5 mt-5" style=" text-align: center;" style="font-size: 20px">
                                        <button type="submit" class="btn btn-warning col-5">Update account</button>
                                    </div>

                                </form>

                                <div class="mt-5" style="text-align: center; color: limegreen">
                                    {{#if updateSuccess}}
                                        <h2>Update profile successfully!</h2>
                                    {{/if}}
                                </div>

                                 <div class="mt-5" style="text-align: center; color: rgb(205, 50, 50)">
                                    {{#if updateFail}}
                                        <h2>Update profile failed!</h2>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


